
<h3 class="text-centered welcome">Welcome!</h3>

<!--Username form-->

<form class="text-centered" method="POST">
    <!--Input form for username-->
    <div class="form-group">
        <label for="username"><strong>Please enter a username:</strong></label>
        <input type="text" ng-model="name" required><br>
        <button type="submit" class="btn btn-primary play-btn">Play</button>
    </div>
</form>

<!--Game Instructions-->

<section class="container">
    <div class="row">
        <div class="col-xs-6 instructions">
            <p>Welcome to Riddle me THIS!</p>
            <ul>
                <li>You are about to be asked twenty lateral thinking questions.</li>
                <li>All the questions have a single word answer.</li>
                <li>You have as many chances as you like to answer each question.</li>
                <li>Enter your username above and click Play to continue.</li>
            </ul> 
        </div>
    </div>
</section>


<hr class="featurette-divider">


<!--High Score Table-->
<aside class="text-centered high-scores">
    <div ng-controller="scoreCtrl">
        <h4>High Scores</h4>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tr ng-repeat="x in scores">
                <td>{{ x.name }}</td>
                <td>{{ x.date }}</td>
                <td>{{ x.score }}</td>
            </tr>
        </table>
    </div>
</aside>